body {
    /*font family*/
    font-family: "Work Sans", sans-serif, system-ui;
    font-size: 16px;
    /*light purple background*/
    min-height: 100vh;
    background-color: hsl(275, 100%, 97%);
    /*dark purple banner image*/
    background-image: url("./assets/images/background-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}
.faq-container {
    background-color: white;
    width: 100%;
    max-width: 550px;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}
.faq-header {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*so the main element knows where to vertically center*/
}